In [1]:
sales = c(15, 20, 25, 10, 30)
fruits = c("梨", "林檎", "葡萄", "桃", "その他")
names(sales) = fruits

In [2]:
sales2 = matrix(0, 2, 5)
sales2

     [,1] [,2] [,3] [,4] [,5]
[1,] 0    0    0    0    0
[2,] 0    0    0    0    0

In [3]:
sales2[1, 2] = 10
sales2

     [,1] [,2] [,3] [,4] [,5]
[1,] 0    10   0    0    0
[2,] 0     0   0    0    0

In [4]:
sales2[,3]

[1] 0 0

In [5]:
sales2[1,] = sales
sales2[2,] = c(10, 25 ,20, 25 ,20)
sales2

     [,1] [,2] [,3] [,4] [,5]
[1,] 15   20   25   10   30
[2,] 10   25   20   25   20

In [6]:
# この出力もベクトルになっているから[1]などで取り出すこともできる
print(dim(sales2))
print(dim(sales2)[1])

[1] 2 5
[1] 2

In [7]:
print(nrow(sales2))
print(ncol(sales2))

[1] 2
[1] 5

In [8]:
# 式全体に()をつけると代入と同時に変数を表示することができる
(x = 1)

[1] 1

In [9]:
colnames(sales2) = fruits
rownames(sales2) = c("A", "B")
sales2

  梨 林檎 葡萄 桃 その他
A 15 20   25   10 30
B 10 25   20   25 20

In [14]:
df = data.frame(cbind(LETTERS[1:4], 3:0))
print(df)

  X1 X2
1  A  3
2  B  2
3  C  1
4  D  0

In [30]:
colnames(df) = c("あ", "い")
df

  あ い
1 A  3
2 B  2
3 C  1
4 D  0

In [35]:
print(as.matrix(df))

     あ  い
[1,] "A" "3"
[2,] "B" "2"
[3,] "C" "1"
[4,] "D" "0"

In [36]:
class(sales)

[1] "numeric"

In [37]:
class(fruits)

[1] "character"

In [39]:
class(sales2)

[1] "matrix" "array"

In [40]:
edit(sales2)

ERROR: Error in edit(sales2): ‘edit()’ not yet supported in the Jupyter R kernel

In [62]:
df[, "い"] = as.numeric(df[, "い"])

In [63]:
df

  あ い
1 A  3
2 B  2
3 C  1
4 D  0