In [2]:
import pandas as pd
from random import random
import math

In [3]:
df = pd.read_csv("./nmtwins.csv")

In [4]:
df["sum"] = df[["english", "math", "socsci", "natsci", "vocab"]].sum(axis=1)

In [5]:
pair_sums = []
for i, score in enumerate(df["sum"]):
    if i%2==0:
        pair = [score]
    else:
        pair.append(score)
        pair_sums.append(pair)

In [6]:
df2 = pd.DataFrame(pair_sums)

In [7]:
df2.corr()

          0         1
0  1.000000  0.786066
1  0.786066  1.000000

In [8]:
df2.to_excel("hoge.xlsx")

In [9]:
sum_list = [*df["sum"]]
rand_pairs = []
while sum_list:
    item1 = sum_list.pop(0)
    item2 = sum_list.pop(math.floor(random() * len(sum_list)))
    rand_pairs.append([item1, item2])
rand_pairs_df = pd.DataFrame(rand_pairs)
rand_pairs_df.corr()

          0         1
0  1.000000 -0.038393
1 -0.038393  1.000000

In [10]:
rand_pairs_df.to_excel("./rand.xlsx")

In [15]:
n = 2
subject = "math"
twin_sums = [*df[df["zygosity"]==n][subject]]
twin_pairs = []
while twin_sums:
    item1 = twin_sums.pop(0)
    item2 = twin_sums.pop(0)
    twin_pairs.append([item1, item2])
twin_pairs_df = pd.DataFrame(twin_pairs, columns=["双子1", "双子2"])
# twin_pairs_df.to_excel(f"{n}卵生_{subject}.xlsx")
twin_pairs_df.corr()

          双子1       双子2
双子1  1.000000  0.493809
双子2  0.493809  1.000000